<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{components/layout :: head}"></head>
<body>
<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>

<div class="container">
  <div class="main-container">
    <h1 class="main-heading">Ukun Empleados</h1>
    <form th:action="@{/login}" method="post">
      <div class="form-group">
        <input type="email" th:name="correo" class="form-control login-input" placeholder="Correo" required>
      </div>
      <div class="form-group">
        <input type="password" th:name="contrasenna" class="form-control login-input" placeholder="Contraseña" required>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary main-btn">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>