<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>

<h1 th:text="${'Stock de ' + tienda.nombre}"></h1>

<div>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="stockProducto: ${stockProductosList}">
            <td th:text="${stockProducto.producto.nombre}"></td>
            <td th:text="${stockProducto.producto.tipo.nombre}"></td>
            <td th:text="${stockProducto.producto.precio}"></td>
            <td th:text="${stockProducto.stock}"></td>
            <td><a>Editar</a></td>
            <td><a>Eliminar</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>