<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Carrito de ' + cliente.cuenta.nombre}"></title>
</head>
<body>

<h1 th:text="${'Carrito de ' + cliente.cuenta.nombre}"></h1>

<div>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Cantidad</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="productoCarrito: ${carritoProductos}">
      <td th:text="${productoCarrito.producto.nombre}"></td>
      <td th:text="${productoCarrito.producto.precio}"></td>
      <td th:text="${productoCarrito.cantidad}"></td>
      <td><img th:src="@{/resources/uploads/{pathFoto}(pathFoto=${productoCarrito.producto.pathFoto})}"
               width="50" height="50" th:alt="${productoCarrito.producto.nombre}"/></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>