<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<h1>Productos</h1>

<div>
  <div th:each="producto: ${productosList}"
       th:with="existCliente=${cliente!=null},tiendaFav=${existCliente ? cliente.tienda.nombre: '' }">
      <img th:src="@{/resources/uploads/{pathFoto}(pathFoto=${producto.pathFoto})}" width="100" height="100"
           th:alt="${producto.nombre}"/>
      <h2 th:text="${producto.nombre}"></h2>
      <p th:text="${producto.precio}"></p>
      <p th:text="${producto.tipo.nombre}"></p>
      <p th:text="${disponibilidadOnline != null
                      && disponibilidadOnline.containsKey(producto.id)
                      && disponibilidadOnline[producto.id]} ? 'Disponible' : 'No hay existencias'"></p>
      <p th:if="${existCliente}"
              th:text="${(disponibilidadFavorita != null
                        && disponibilidadFavorita.containsKey(producto.id)
                        && disponibilidadFavorita[producto.id] ? 'Disponible' : 'No hay existencias') + ' en ' + tiendaFav}"></p>
      <a th:href="@{/productos/ver/{id}(id=${producto.id})}">Ver producto</a>
  </div>
</div>

</body>
</html>