@font-face {
    font-family: 'Averta';
    src: url('../AvertaStandard-Regular.otf');
}

body {
    font-family: 'Averta', sans-serif;
    background-color: #E9F5D8;
}

.login-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 30px;
    background-color: #cf9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.login-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5d9d0b;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.login-input:focus {
    outline: none;
    border-color: #5d9d0b;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #5d9d0b;
    color: #ffffff;
    border: none;
    margin-top: 15px;
}

.login-btn:hover {
    background-color: #456e0f;
}
